 *{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(0, 0, 0);
}
.btn1 button{
    position: absolute;
    margin: 15% 30%;
    height: 50px;
    width: 100px;
    font-size: 20px;
    transition: 0.5s;
    border: hidden;
}
.btn2 button{
    position: absolute;
    margin: 15% 50%;
    height: 50px;
    width: 100px;
    font-size: 20px;
    transition: 0.5s;
    border: hidden;
}
.btn3 button{
    position: absolute;
    margin: 15% 70%;
    height: 50px;
    width: 100px;
    font-size: 20px;
    transition: 0.5s;
    border: hidden;
}
.btn1 button:hover{
    background-color: blue;
    color: white;
}
.btn2 button:hover{
    background-color: rgb(0, 255, 89);
    color: white;
}
.btn3 button:hover{
    background-color: red;
    color: white;
}